-
  const info = {
    language: 'en',
    title: 'Título da página',
    description: 'Descrição'
  }

doctype
html(lang=info.language)
  head
    title= info.title
  body#main
    div.container.mt-2
      p.description=info.description
      - if (info.language == 'pt-BR')
        span Esta página está em português
      - else
        span Esta página não está em português
      
      ul
        - for (let i = 0; i < 10; i++)
          - if (i == 3)
            li Está no item 3
          - else
            li=i

      include _arrays
      include _mixins